<nav>
  <a href="/en/index.html" class="nav-logo">
    <img src="/assets/images/logo-qut.png" alt="QUT Vietnam JSC" />
  </a>

  <ul class="nav-links">
    <li><a href="/QJP/index.html#about">About</a></li>
    <li><a href="/QJP/index.html#who">History</a></li>
    <li><a href="/QJP/index.html#work">Services</a></li>
    <li><a href="/QJP/index.html#say">Quotes</a></li>
    <li><a href="/QJP/index.html#contact">Contact</a></li>

    <li class="mobile-lang">
      <div class="lang-switch">
        <a href="/ja/" onclick="switchLanguage('ja'); return false;">
          日本語
        </a>

        <span>|</span>

        <a href="/en/" class="active" onclick="switchLanguage('en'); return false;">
          EN
        </a>

        <span>|</span>

        <a href="/vi/" onclick="switchLanguage('vi'); return false;">
          VI
        </a>
      </div>
    </li>
  </ul>

  <div class="lang-switch">
    <a href="/ja/" onclick="switchLanguage('ja'); return false;">
      日本語
    </a>

    <span>|</span>

    <a href="/en/" class="active" onclick="switchLanguage('en'); return false;">
      EN
    </a>

    <span>|</span>

    <a href="/vi/" onclick="switchLanguage('vi'); return false;">
      VI
    </a>
  </div>
  <button class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>