<nav>
  <a href="index.html" class="nav-logo">QUT Vietnam JSC</a>

  <ul class="nav-links">
    <li><a href="index.html#philosophy">Philosophy</a></li>
    <li><a href="index.html#history">History</a></li>
    <li><a href="index.html#services">Services</a></li>
    <li><a href="index.html#strengths">Strengths</a></li>
    <li><a href="company.html">About Us</a></li>
    <li><a href="index.html#contact">Contact</a></li>
    <li><a href="recruitment.html">Career</a></li>

    <li class="mobile-lang">
      <div class="lang-switch">
        <a href="/ja/" onclick="switchLanguage('ja'); return false;">
          日本語
        </a>

        <span>|</span>

        <a href="/en/" class="active" onclick="switchLanguage('en'); return false;">
          EN
        </a>

        <span>|</span>

        <a href="/vi/" onclick="switchLanguage('vi'); return false;">
          VI
        </a>
      </div>
    </li>
  </ul>

  <div class="lang-switch">
    <a href="/ja/" onclick="switchLanguage('ja'); return false;">
      日本語
    </a>

    <span>|</span>

    <a href="/en/" class="active" onclick="switchLanguage('en'); return false;">
      EN
    </a>

    <span>|</span>

    <a href="/vi/" onclick="switchLanguage('vi'); return false;">
      VI
    </a>
  </div>
  <button class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>